.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.video-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.foreground-gif {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 40vw;
    max-height: 40vh;
    width: auto;
    height: auto;
    object-fit: contain;
    z-index: 0;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    padding: 1rem;
}

.question {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    color:#e91e63
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.buttons button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    min-width: 100px;
    cursor: pointer;
    border: none;
    
}

 button:hover {
    opacity: 0.8;
    border-color: #f30151;
}

.yes-button {
    background: #e91e63;
    color: #fff;
    transition: border-color 0.3s;
}

.no-button {
    background: #444;
    color: #fff;
}


